
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<h1>@ViewBag.Message</h1>


<div>
    @Html.ActionLink("Refresh NewsItemDb", "Refresh", "NewsItemDbShow")
</div>
<div>
    @Html.ActionLink("View NewsItemDb", "Index", "NewsItemDbShow")
</div>
