@model IEnumerable<btDotNet.Models.NewsItem>
@{
    ViewBag.Title = "Index";
}

@section database_count {
    <span class="database_count">
        @Html.ActionLink(("Loaded " + Model.Count().ToString() + " items from the database"), "Index", "NewsItemDbShow")
    </span>
}


<h2>@ViewBag.Title</h2>

<h1>@ViewBag.Message</h1>


<div>
    @Html.ActionLink("Refresh NewsItemDb", "Refresh", "NewsItemDbShow")
</div>