@model IEnumerable<btDotNet.Models.NewsItem>

@{
    ViewBag.Title = "NewsItemDb Index";
}

@section database_count {
    <span class="database_count">
        @Html.ActionLink(("Loaded " + Model.Count().ToString() + " items from the database"), "Index", "NewsItemDbShow")
    </span>
}


<h2>@ViewBag.Title</h2>

<table>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.NewsItemId })
            </td>
        </tr>
    }

</table>
